@model IEnumerable<HitIt.Models.profile>


@using HitIt.CustomHtmlHelpers;
@using Microsoft.AspNet.Identity
@using MySql.Data.MySqlClient;
@if (Request.IsAuthenticated)
{
    {
        ViewBag.Title = "Your Profile";
    }


    <div class="jumbotron" style="background-color:#ae966b">
        <h2 style="text-align:left">@Html.DisplayName(User.Identity.GetUserName())</h2>

        <div class="jumbotron" style="background-color:#CEBB8E">
            <h3>@Html.ActionLink("update profile", "index", "profile") </h3>
            <h3>@Html.ActionLink("update talents", "index", "talent") </h3>
            <h3>@Html.ActionLink("create collaboration", "index", "collaboration") </h3>
            <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium">
         <div class="dispay-field">

             @*<asp:Image id=""*@

             <img src="@ViewData["path"]" />

             @*@{
                 string connectString1 = "SERVER= 195.178.232.16; PORT=3306; DATABASE=af6947;UID=af6947 ;PASSWORD=sexyKalle79;";

                 MySqlConnection connection1 = new MySqlConnection(connectString1);
                 connection1.Open();
                 MySqlCommand cmd1 = connection1.CreateCommand();
                 cmd1.CommandText = "SELECT picturePath FROM profile WHERE UserName ='" + User.Identity.Name + "'";
                 string userEdit1 = (string)cmd1.ExecuteScalar();
                 cmd1.Parameters.Add("@picturePath", userEdit1);
                 cmd1.ExecuteNonQuery();
                 connection1.Close();


               


            }*@
             @*<img src="data:image/png;base64,@Convert.ToBase64String(Model.,0,Model[j].ImageData.Length)" width="100" />*@
         </div>
                @if (Request.IsAuthenticated && User.Identity.Name == "Max")
                {
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table>
                    <tr>
                        <td>file</td>
                        <td><input type="file" name="file" id="file" /></td>

                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="submit" id="upload" /></td>
                    </tr>
                </table>
            }
           
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.profileName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dateOfBirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.city)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.country)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.languages)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.about)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.picture)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.teaser)
                        </th>
                        <th></th>
                    </tr>

                    @{
                    string connectString = "SERVER= 195.178.232.16; PORT=3306; DATABASE=af6947;UID=af6947 ;PASSWORD=sexyKalle79;";
                    MySqlConnection connection = new MySqlConnection(connectString);
                    connection.Open();
                    MySqlCommand cmd = connection.CreateCommand();
                    cmd.CommandText = "SELECT id FROM profile WHERE UserName ='" + User.Identity.Name + "'";
                    Int32 userEdit = (Int32)cmd.ExecuteScalar();
                    cmd.Parameters.Add("@UserName", userEdit);
                    cmd.ExecuteNonQuery();
                    connection.Close();
                    }
                    @foreach (var item in Model)
                    {
                        
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.profileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateOfBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.city)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.languages)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.about)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.picture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.teaser)
                            </td>
                            <td>
                                @if (User.Identity.Name == "Max")
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id =  item.id })    
                                }
                                else
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id =  userEdit })  
                                }
                                  
                                @if (Request.IsAuthenticated && User.Identity.Name == "Max" || User.Identity.Name == "UserNameTest11")
                                {
                                    @Html.ActionLink("Details", "Details", new { id = item.id })
                                }
                                |
                                @if (Request.IsAuthenticated && User.Identity.Name == "Max" || User.Identity.Name == "UserNameTest11")
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                }

                            </td>
                        </tr>
                    }
                </table>
           
            </div>
        </div>
}
else
{
    <h1>You need to login to access this page.</h1>
    <h2>Click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to login.</h2>
}
