@model HitIt.Models.collaborationfiles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>collaborationfiles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.collaborationFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collaborationFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collaborations.ColName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collaborations.ColName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.collaborationFileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
