@model HitIt.Models.collaborations

<div class="jumbotron" style="background-color:#ae966b">
    @{
    ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>


    @using (Html.BeginForm())
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>collaborations</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.profileId, "Profile Id", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("profileId", String.Empty)
                    @Html.ValidationMessageFor(model => model.profileId)
                </div>
            </div>

            @Html.HiddenFor(model => model.colid)

            <div class="form-group">
                @Html.LabelFor(model => model.ColName, "Collaboration name", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ColName)
                    @Html.ValidationMessageFor(model => model.ColName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.genre,"Genre" ,new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.genre)
                    @Html.ValidationMessageFor(model => model.genre)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.colOwner, "Collaboration owner", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.colOwner)
                    @Html.ValidationMessageFor(model => model.colOwner)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ColFile,"Collaboration file", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ColFile)
                    @Html.ValidationMessageFor(model => model.ColFile)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
}

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>